<ref name="${8:$4_$7_$6}">{{Cite web
 |url           = ${2:Url}
 |title         = ${3:Title}
 |last			= ${4:Last}
 |first			= ${5:First}
 |publisher     = ${6:Publisher}
 |date          = ${7:Date}
 |accessdate    = strftime("%Y-%m-%d")
 |archiveurl    = 
 |archivedate   = 
}}</ref>
