<ref name="${1:Name}">{{Cite news
 |title         = ${2:Title}
 |author		= ${3:Author}
 |newspaper     = ${4:Newspaper}
 |date          = ${5:Date}
 |url           = ${6:Url}
 |accessdate    = strftime("%Y-%m-%d")
 |archiveurl    = 
 |archivedate   = 
}}</ref>
