<ref name="${7:$3_$6_$5}">{{Kilde www
 |url           = ${1:Url}
 |tittel        = ${2:Title}
 |etternavn     = ${3:Etternavn} 
 |fornavn       = ${4:Fornavn} 
 |utgiver       = ${5:Utgiver} 
 |dato          = ${6:Dato}
 |besøksdato    = `strftime("%Y-%m-%d")`
 |arkiv_url     =  
 |arkivdato     = 
}}</ref>
