[submodule "sub/vim-latex"]
	path = sub/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "sub/command-t"]
	path = sub/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "sub/nerdtree"]
	path = sub/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
