.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.idea
ehthumbs.db
Thumbs.db
*~
\#*\#
*.bak
*.temp
*.swp
*.pyc
tags
.vim/view/
.vim/.netrwhist
.vim/.session
.vim/bundle/
.vim/plugged/
.vim/autoload/plug.vim
.vim/.netrwhist
_ide_helper.php
.vscode
.idea
