\begin{table}[htbp]
  \centering
  \begin{tabular}{${1:ll}} 
    \toprule
      ${4} &  \\ 
	\midrule
          &  \\
          &  \\ 
	\bottomrule
  \end{tabular}
  \caption{${2:Title}}
  \label{tab:${3:$2}}
\end{table} 
