<ref name="${1:Name}">{{Kilde artikkel
 |forfatter     = ${2:Forfatter}
 |tittel        = ${3:Tittel}
 |publikasjon   = ${4:Publikasjon}
 |utgivelsesår  =
 |bind          =
 |nummer        =
 |side          =
 |doi           =
}}</ref>

