\begin{table}[htbp]
  \centering
  \begin{threeparttable}[htbp]
  \begin{tabular}{${1:ll}}
      \toprule
       ${3:Heading1} \tnote{a}  & text \tnote{b} \\
      \midrule
        
      \bottomrule
    \end{tabular}
    {\footnotesize
		\begin{tablenotes}
			\item[a] Note a
			\item[b] Note b
		\end{tablenotes}
    }
  \end{threeparttable}
  \caption{${1:Caption}}
  \label{tab:${2:Label}}
\end{table}

